extends layout

block body
    script
        window.userCode = !{codes};
        window.serverURL = "!{serverURL}";
        window.lecturesDone = !{lecturesDone};
    div(id='courseDiv', class='slides', slidedata='/courses/#{courseName}/')

block scripts
    script(src="/courses/#{courseName}/tests.js")
    script(src="/javascripts/course.js/sound.js")
    script(src="/javascripts/course.js/lecture.js")
    script(src="/javascripts/course.js/course.js")
