doctype 5
html(lang="en")
  head
    title #{title}

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")

    link(href="stylesheets/bootstrap.min.css", rel="stylesheet")
    link(href="stylesheets/bootstrap-responsive.min.css", rel="stylesheet")
    link(href="stylesheets/css-social-buttons/zocial.css", rel="stylesheet")
    link(href="stylesheets/style.css", rel="stylesheet")

    block styles

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") Project name
          .nav-collapse
            ul.nav
              if page == 'lecture'
                li.active: a(href="/lecture") Dave
              else
                li: a(href="/lecture") Dave

              if page == 'lukas'
                li.active: a(href="/lukas") Lukas
              else
                li: a(href="/lukas") Lukas

            if user
              ul.nav.pull-right
                li: a(href="/account") #{user.displayName}
                li: a(href="/logout") logout
            else
              ul.nav.pull-right(style="background-color: #222")
                li.dropdown#loginMenu
                  a.dropdown-toggle(data-toggle="dropdown", href="#loginMenu").
                    Sign in <b class="caret"></b>
                  .dropdown-menu(style="padding: 15px; padding-bottom: 0px;")
                    form(action="/login", method="post")
                      input#username(style="margin-bottom: 15px;",
                                     type="text",
                                     name="username",
                                     size="30",
                                     placeholder="E-mail")
                      input#password(style="margin-bottom: 15px;",
                                     type="password",
                                     name="password",
                                     size="30",
                                     placeholder="Password")
                      input#remember_me(style="float: left; margin-right: 10px;",
                                        type="checkbox",
                                        name="remember_me",
                                        value="1")
                      label.string.optional(for="remember_me") Remember me
                      input.btn.btn-primary(style="clear: left; height: 32px; font-size: 13px;",
                                            type="submit",
                                            name="commit",
                                            value="Sign In")
                      a.btn(style="clear: left; height: 32px; font-size: 13px;",
                                        href="/register") Create new account
                li: span: a.zocial.icon.googleplus.login(href="/auth/google")
                li: span: a.zocial.icon.facebook.login(href="/auth/facebook")

    .container
      p #{errors}
      block body

      hr

      footer
        p &copy; Company 2012

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="javascripts/bootstrap.min.js")
    script
      $('.dropdown-toggle').dropdown();
      $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
      });

    block scripts

