doctype 5
html(lang="en")
  head
    title #{title}

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")

    link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/bootstrap-responsive.min.css", rel="stylesheet")
    link(href="/stylesheets/css-social-buttons/zocial.css", rel="stylesheet")
    link(href="/stylesheets/style.css", rel="stylesheet")
    link(href="/stylesheets/course.js/style.css", rel="stylesheet")
    link(href="/javascripts/CodeMirror/lib/codemirror.css", rel="stylesheet")

    block styles

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") prAk
          .nav-collapse
            ul.nav
              if page == 'courses'
                li.active: a(href="/courses") Přehled kurzů
              else
                li: a(href="/courses") Přehled kurzů

              if page == 'profil'
                li.active: a(href="/blog") Blog
              else
                li: a(href="/blog") Blog

            if user
              ul.nav.pull-right
                li: a(href="/account") #{user.displayName}
                li: a(href="/logout") logout
            else
              ul.nav.pull-right(style="background-color: #222")
                li.dropdown#loginMenu
                  a.dropdown-toggle(data-toggle="dropdown", href="#loginMenu").
                    Sign in <b class="caret"></b>
                  .dropdown-menu(style="padding: 15px; padding-bottom: 0px;")
                    form(action="/login", method="post")
                      input#username(style="margin-bottom: 15px;",
                                     type="text",
                                     name="username",
                                     size="30",
                                     placeholder="E-mail")
                      input#password(style="margin-bottom: 15px;",
                                     type="password",
                                     name="password",
                                     size="30",
                                     placeholder="Password")
                      input#remember_me(style="float: left; margin-right: 10px;",
                                        type="checkbox",
                                        name="remember_me",
                                        value="1")
                      label.string.optional(for="remember_me") Remember me
                      input.btn.btn-primary(style="clear: left; height: 32px; font-size: 13px;",
                                            type="submit",
                                            name="commit",
                                            value="Sign In")
                      a.btn(style="clear: left; height: 32px; font-size: 13px;",
                                        href="/register") Create new account
                li: span: a.zocial.icon.googleplus.login(href="/auth/google")
                li: span: a.zocial.icon.facebook.login(href="/auth/facebook")

    .container
      each error in errors
        .alert.alert-error
          button.close(data-dismiss="alert") ×
          span #{error}
      block body

      hr

      footer
        div(style='float: right')
            a(href="https://github.com/progma")
                | prAk na GitHubu
        p
            span(style="-webkit-transform: scaleX(-1); display: inline-block") &copy;
            |  Tomáš Jakl, Lukáš Lánský, David Marek a Jirka Maršík; 2012

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script
      $('.dropdown-toggle').dropdown();
      $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
      });
    script(src="/javascripts/raphael-min.js")
    script(src="/javascripts/soundmanager2-jsmin.js")
    script(src="/javascripts/underscore-min.js")
    script(src="/javascripts/CodeMirror/lib/codemirror.js")
    script(src="/javascripts/CodeMirror/mode/javascript/javascript.js")

    script(src="/javascripts/course.js/playbook.js")
    script(src="/javascripts/course.js/quickcheck.js")
    script(src="/javascripts/course.js/examine.js")
    script(src="/javascripts/course.js/turtle.js")
    script(src="/javascripts/course.js/pagedesign.js")
    script(src="/javascripts/course.js/lecture.js")
    script(src="/javascripts/course.js/sound.js")
    script(src="/javascripts/course.js/course.js")

    block scripts

