doctype 5
html(lang="en")
  head
    title #{title}

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")

    link(href="/stylesheets/font-awesome.css", rel="stylesheet")
    link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
    link(href="/stylesheets/css-social-buttons/zocial.css", rel="stylesheet")
    link(href="/stylesheets/style.css", rel="stylesheet")
    link(href="/stylesheets/course.css", rel="stylesheet")
    link(href="/javascripts/CodeMirror/lib/codemirror.css", rel="stylesheet")

    block styles

  body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") prAk
          .nav-collapse
            ul.nav
              if page == 'course/turtle1'
                li.active: a(href="/course/turtle1") Želví grafika
              else
                li: a(href="/course/turtle1") Želví grafika

              if page == 'course/turtle2'
                li.active: a(href="/course/turtle2") Želví grafika 2: stromy
              else
                li: a(href="/course/turtle2") Želví grafika 2: stromy

            if user
              ul.nav.pull-right
                li: a(href="/account") #{user.displayName}
                li: a(href="/logout") logout
            else
              ul.nav.pull-right
                li.dropdown#loginMenu
                  a.dropdown-toggle(data-toggle="dropdown", href="#loginMenu").
                    Sign in <b class="caret"></b>
                  .dropdown-menu(style="padding: 15px; padding-bottom: 0px;")
                    form(action="/login", method="post")
                      input#username(style="margin-bottom: 15px;",
                                     type="text",
                                     name="username",
                                     size="30",
                                     placeholder="E-mail")
                      input#password(style="margin-bottom: 15px;",
                                     type="password",
                                     name="password",
                                     size="30",
                                     placeholder="Password")
                      input#remember_me(style="float: left; margin-right: 10px;",
                                        type="checkbox",
                                        name="remember_me",
                                        value="1")
                      label.string.optional(for="remember_me") Remember me
                      input.btn.btn-primary(style="clear: left; height: 32px; font-size: 13px;",
                                            type="submit",
                                            name="commit",
                                            value="Sign In")
                      a.btn(style="clear: left; height: 32px; font-size: 13px;",
                                        href="/register") Create new account
                li: span: a.zocial.icon.googleplus.login(href="/auth/google")
                li: span: a.zocial.icon.facebook.login(href="/auth/facebook")

    .container
      each error in errors
        .alert.alert-error
          button.close(data-dismiss="alert") ×
          span #{error}
      block body

      div.
        <div id="disqus_thread"></div>

      hr

      footer
        p
            span(class="copyleft")
                a(href="https://github.com/progma")
                  &copy;
            |  Tomáš Jakl, Lukáš Lánský, David Marek a Jiří Maršík; 2012
        p
            | Stojíme na ramenou mnoha obrů: 
            a(href="http://nodejs.org/") Node.js
            , 
            a(href="http://jquery.com/") jQuery
            , 
            a(href="http://underscorejs.org/") Underscore.js
            , 
            a(href="http://www.schillmania.com/projects/soundmanager2/") SoundManager2
            , 
            a(href="http://raphaeljs.com/") Raphaël
            , 
            a(href="http://codemirror.net/") CodeMirror
            , 
            a(href="https://github.com/mrdoob/three.js/") three.js
            | a 
            a(href="/thanks") dalších…
            br
            | Finančně a morálně nás podpořila 
            a(href="http://www.mff.cuni.cz") Matematicko-fyzikální fakulta UK
            | .

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script
      $('.dropdown-toggle').dropdown();
      $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
      });

      function require(name) {
        throw new Error("Cannot require " + name);
      }
      require.extensions = {};

      window.serverURL = "!{settings.URL}";
      window.disqus_shortname = "prak";
      window.disqus_developer = true; // turns off URL check
      window.disqus_language = "cs";

    script(src="/javascripts/raphael-min.js")
    script(src="/javascripts/three.min.js")
    script(src="/javascripts/esprima.js")
    script(src="/javascripts/escodegen.js")
    script(src="/javascripts/underscore-min.js")
    script(src="/javascripts/CodeMirror/lib/codemirror.js")
    script(src="/javascripts/CodeMirror/mode/javascript/javascript.js")

    script(src="/javascripts/course.js/quickcheck.js")
    script(src="/javascripts/course.js/examine.js")
    script(src="/javascripts/course.js/graph.js")
    script(src="/javascripts/course.js/turtle2d.js")
    script(src="/javascripts/course.js/turtle3d.js")
    script(src="/javascripts/course.js/pagedesign.js")
    script(src="/javascripts/course.js/evaluation.js")
    script(src="/javascripts/course.js/connection.js")

    block scripts

