extends layout

block body
  section#Registration
    .page-header
      h1 Registration
    .row
      .span4.offset4
        form.well(action="/registrace", method="post")
          fieldset
            .control-group
              label.control-label(for="username") E-mail:
              .controls
                input(style="height: 35px; box-sizing:border-box; width: 100%;",
                      type="text",
                      name="username",
                      placeholder="E-mail")
            .control-group
              label.control-label(for="password") Heslo:
              .controls
                input(style="height: 35px; box-sizing:border-box; width: 100%;",
                      type="password",
                      name="password",
                      placeholder="Heslo")
            .control-group
              .controls
                button.btn.btn-large.btn-primary(style="width:100%;",
                                                 type="submit") Registrovat
